Django==4.1.1
django-cors-headers==3.13.0
django-dotenv==1.4.2
django-filter==22.1
django-storages==1.14.2
django-timezone-field==6.0.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
google-generativeai